services:
  wattbot:
    image: nirkli/wattbot:latest
    restart: always
    ports:
      - "8000:8000"
    environment:
      MONGODB_URL: "host.docker.internal:27017"

  wattbot-ui:
    image: nirkli/wattbot-ui:latest
    restart: always
    ports:
      - "80:80"
    environment:
      VITE_API_URL: "/api"

  mongo:
    image: mongo:latest
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongodb:/data/db

volumes:
  mongodb: