name: Build and Push Backend

on:
  push:
    branches:
      - main
      - '**'
    paths:
      - 'backend/**'
  workflow_dispatch:


env:
  IMAGE: ${{ secrets.DOCKERHUB_USERNAME }}/wattbot

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: 'true'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Set Docker tag
        id: docker_tag
        run: |
          if [[ "${GITHUB_REF}" == refs/heads/main ]]; then
            echo "tag=edge" >> $GITHUB_OUTPUT
          elif [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            version=${GITHUB_REF#refs/tags/}
            echo "tag=${version},latest" >> $GITHUB_OUTPUT
          else
            branch=$(echo "${GITHUB_REF#refs/heads/}" | tr '/' '-')
            echo "tag=branch-${branch}" >> $GITHUB_OUTPUT

      - name: Build and push backend Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./backend
          file: backend/Dockerfile
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ${{ env.IMAGE }}:${{ steps.docker_tag.outputs.tag }}