name: Build and Push Frontend

on:
  workflow_dispatch:
  push:
    paths:
      - 'frontend/**'
      - 'frontend/Dockerfile'
      - 'VERSION'
    branches:
      - main

jobs:
  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Read version
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Build frontend
        run: |
          cd frontend
          npm install
          npm run build
          cd ..

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.10.0

      - name: Build and push frontend Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: ./frontend
          platforms: linux/arm64,linux/amd64
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/wattbot-ui:${{ env.VERSION }},${{ secrets.DOCKERHUB_USERNAME }}/wattbot-ui:latest